# Python bytecode files
__pycache__/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*

# Virtual environment
venv/

# IDE specific files
.idea/
.vscode/

# Distribution / packaging
dist/
build/
*.egg-info/